/**
 * Edit this config parameters for your needs.
 */
module.exports = {
  /**
   * If you want to download the citations of specific label of your library, go this label and copy the number after `scilib=` in the url.
   * Default: 1 (Also if nolabelId is configured).
   */
  labelId: 1025,

  /**
   * The path where you want to store your bib file.
   * Default: "."
   */
  outPath: "C:/Users/morge/Documents",

  /**
   * The filename downloaded citations file.
   * Default: "citations.bib"
   */
  fileName: "citations.bib",

  /**
   * Your Google login information
   * _Don't worry about privacy if you want to contribute to this project: the `config.js` file is in `.gitignore`._ 😉
   */
  credentials: {
    username: "<your.google.username>",
    password: "<your.password>"
  }
};
